/* css reset*/
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: inherit;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: 800;
}
h2 {
  font-weight: 400;
}
h3 {
  font-weight: 400;
}

/* end reset css */

h1{
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
}

table {
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  border-collapse: collapse;
  max-width: 48%;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tr:hover {background-color: rgb(20, 20, 20);}

th {
  cursor: pointer;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

td.detailsColumn {
  padding-inline-start: 2em;
  text-align: end;
  white-space: nowrap;
}
