h1{
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
}

table {
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  border-collapse: collapse;
  max-width: 48%;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tr:hover {background-color: rgb(20, 20, 20);}

th {
  cursor: pointer;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

td.detailsColumn {
  padding-inline-start: 2em;
  text-align: end;
  white-space: nowrap;
}